@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

pre {
  background-color: #333;
  padding: 1rem 2rem;
  border-radius: 0.5rem;

  code {
    color: #ddd;
  }
}
